.aboutus-page-container{
    position: absolute;
    height: max-content;
    width: 100%;
    z-index: -1;

    background: #fafafa;

    display: flex;

    flex-direction: column;
    align-content: center;

    padding-top: 50px;

}

.mission-container {
    min-height: 100px;
    width: 65vw;
    font-family: Manuale;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

    text-align: center;

    align-self: center;
}

.founders-grid {
    display: grid;
    width: 90vw;
    padding-top: 50px;

    align-self: center;
 
   /* define the number of grid columns */
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 }

.idiot-container {
    padding: 50px;
}

.idiot-image-container-cindy {
    min-height: 60vh;
    background-image: url('./aboutus_images/cindy.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.idiot-name {
    margin-top: 20px;

    font-family: "Major Mono Display";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}

.idiot-image-container-ray {
    min-height: 60vh;
    background-image: url('./aboutus_images/raymondbankeheadshot.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.idiot-image-container-leon {
    min-height: 60vh;
    background-image: url('./aboutus_images/leonluheadshot.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.idiot-description {
    margin: 20px 20px 0px 20px;

    font-family: Manuale;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    line-height: 30px;
    text-align: left;
}