div {
    white-space: pre-wrap;
}
.artist-page-container{
    position: absolute;
    height: max-content;
    width: 100%;
    z-index: -1;

    background: #fafafa;

    display: flex;

    flex-direction: column;
    align-content: center;

    padding-top: 50px;

}

.artist-page-intro{
    height: max-content;
    width: 100%;

    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.artistpage-artist-name{
    font-family: Major Mono Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;

    justify-self: center;
    /* identical to box height */

    padding: 8px;
    margin-top:10px;
    margin-bottom:32px;

    color: #000000;
}

.artist-description-container {
    width: 100%;
    max-width: 550px;

    font-family: Manuale;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
    line-height: 25px;
    text-align: left;

    padding-top: 16px;
}

.explore-container {
    height: max-content;
    width: 100%;

    background: #fafafa;

    margin: auto;

    padding-top: 50px;

    display: flex;
    justify-content: center;
}