.homepage-picture-container {
    height: 100%;
    margin: 0px 0px 0px 20px;

    display: inline-block;
}

.index0-homepage-picture-container {
    height: 100%;
    margin: 0px;

    display: inline-block;
}