.landscape-container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: #fafafa;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.landscape-artist-name{
    font-family: Major Mono Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    /* identical to box height */

    padding: 8px;
    margin-top:10px;
    margin-bottom:20px;

    color: #000000;
}

.landscape-image-container {
    height: auto;
    width: 50vw;
    
    /* background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; */

    display: flex;
    justify-content: center;

}

.landscape-description-container {
    width: 50vw;

    font-family: Major Mono Display;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
    line-height: 22px;
    text-align: left;

    padding-top: 16px;
}


@media only screen and (max-width: 600px) {
    .landscape-image-container {
        height: auto;
        width: 100%;
    
        display: flex;
        justify-content: center;
    
    }
    .landscape-description-container {
        width: 100%;
    }
  }