.NavBar-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
    background: #fafafa;
}
.NavBar-header {

    font-family: Major Mono Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    text-decoration: none;
    line-height: 50px;
    margin-top: 16px;
    /* identical to box height */

    text-align: center;


    color: #000000;
}

.NavBar-button{
    font-family: Major Mono Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    line-height: 24px;
    /* identical to box height */

    padding: 8px;
    margin-top:10px;

    color: #000000;
}